.header, .body, .footer {
  font-family: 'Open Sans', Arial, sans-serif;
}
.header {
  min-height: 100px;
  padding: 20px 0;
  background-color: #4e7992;
  box-shadow: 0 -10px 20px 5px #003F5B;
  display: flex;
  align-items: center;
  &--v2 {
    background-color: #ffffff;
    border-bottom: 6px solid #d7d7d7;
    box-shadow: none;
  }
  &__call {
    display: none;
  }
  &__phoneSection {
    display: flex;
    justify-content: flex-end;
  }
  &__phoneNumber {
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
    line-height: 26px;
    text-align: right;
    transition: .25s;
    &:hover {
      opacity: .75;
      color: #ffffff;
      transition: .25s;
      text-decoration: none;
    }
    &--v2 {
      color: #52b7d3;
      &:hover {
        color: #52b7d3;
      }
    }
  }
}
.body {
  padding: 90px 0 100px;
  &__headline {
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    color: #52b7d3;
    margin: 0 0 30px;
    &--v2 {
      color: #4e7992;
    }
  }
  &__bodyText {
    font-size: 30px;
    line-height: 1;
    margin: 0 0 20px;
    color: #363636;
  }
  &__bodySignature {
    font-size: 30px;
    line-height: 1;
    margin: 0 0 20px;
    font-weight: 700;
    color: #363636;
  }
  &__bodyDisclaimer {
    font-size: 18px;
    line-height: 32px;
    color: #363636;
    margin: 0;
  }
}
.footer {
  min-height: 160px;
  background-color:#d7d7d7;
  padding: 50px 0;
  &__logoAddress {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    margin: 0 auto 20px;
  }
  &__addressText {
    font-size: 14px;
    color: #ffffff;
    line-height: 22px;
    text-align: center;
    letter-spacing: -.05px;
  }
  &__addressLink {
    color: #75c5dc;
    transition: .25s;
    text-decoration: underline;
    &:hover {
      transition: .25s;
      color: #4e7992;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .header {
    &__call {
      display: inline-block;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}